{% extends 'base.html.twig' %}

{% block title %}CommentPastry{% endblock %}

{% block body %}
    <h1>CommentPastry</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment_pastry.id }}</td>
            </tr>
            <tr>
                <th>ContentComment</th>
                <td>{{ comment_pastry.contentComment }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ comment_pastry.createdAt ? comment_pastry.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ comment_pastry.updatedAt ? comment_pastry.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_comment_pastry_index') }}">back to list</a>

    <a href="{{ path('app_comment_pastry_edit', {'id': comment_pastry.id}) }}">edit</a>

    {{ include('comment_pastry/_delete_form.html.twig') }}
{% endblock %}
